/* Estilos globales y reseteos básicos para "Bello" */
body {
  margin: 0;
  font-family: Arial, sans-serif; /* Tipografía principal "Bello" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2; /* Color de fondo principal "Bello" */
  color: #333333; /* Color de texto principal "Bello" */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Contenedor principal de la aplicación */
.App {
  /* text-align: center; Ya no es necesario centrar todo */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el footer se quede abajo */
}

main {
  flex-grow: 1; /* Permite que el contenido principal crezca y empuje el footer */
}


/* Ajustes generales para botones para que hereden la fuente */
button, input, textarea, select {
  font-family: Arial, sans-serif;
  color: #333333;
}

a {
  color: #333333; /* Color de enlace base */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
